[2020-07-21 06:27] borland6 opened #1 "It doesn't work on my computer"
Hello,

I got the following error messages while using importing my quizlet deck.
My quizlet deck URL is as following:
https://quizlet.com/tw/513398370/20200623-lesson-52-shelter-dog-flash-cards/

+++  error message begin +++

Anki 2.1.28 (7d8818f8) Python 3.8.0 Qt 5.15.0 PyQt 5.15.0
Platform: Windows 10
Flags: frz=True ao=True sv=1
Add-ons, last update check: 2020-07-20 19:56:54

Caught exception

[2020-07-21 20:29] Takcaa commented on #1
Hey,
I got the same issue. I reinstaled Anki, but not newest version, I instaled this one https://github.com/ankitects/anki/releases/tag/2.1.21

[2020-07-22 01:50] borland6 commented on #1
Hello Takcaa,
Do you mean you fix this issue after reinstalled Anki 2.1.21?
If so, I will try to see if this could work for me.

Thank you.
Dennis

[2020-07-22 14:39] Takcaa commented on #1
newest version is 2.1.28 and tool not work on that, but on 2.1.21 work well

[2020-07-30 17:31] sviatoslav-lebediev commented on #1
it works right now on  2.1.28. Could you check it out?

[2020-07-30 17:48] Takcaa commented on #1
It's working now 👍  Spasibo mate for this addon

[2020-07-30 17:50] sviatoslav-lebediev commented on #1
@Takcaa sure, happy it works for you right now. Actually I haven't created it I've just added the audio support and stop/finish phrases :)

[2020-07-31 06:52] sviatoslav-lebediev commented on #1
@borland6 could you please confirm that a new version of the plugin works on your computer?

[2020-08-07 18:38] #1 closed

[2020-08-11 04:19] tedblizzard opened #2 "Can't find a deck with ID 8"
Love this addon but currently getting this error:  Can't find a deck with ID 8
https://quizlet.com/_8kngku?x=1jqt&i=7fb0s

![image](https://user-images.githubusercontent.com/2208182/89856729-4c654680-dbc4-11ea-8531-0e6662b628be.png)

[2020-08-12 19:32] sviatoslav-lebediev commented on #2
@tedblizzard I've tried to open this URL but it looks like it's protected. But Quizlet actually redirected me to this one https://quizlet.com/518416302/flash-cards/ . Could you please check if this URL is correct and try to use this one instead of https://quizlet.com/_8kngku?x=1jqt&i=7fb0s

[2020-08-14 07:52] tedblizzard commented on #2
My apologies.  You are correct.  Thank you so much for your help and this app.

[2020-08-14 14:23] sviatoslav-lebediev commented on #2
sure, np

[2020-08-14 14:23] #2 closed

[2020-08-31 17:57] GovindenJerome opened #3 "Error while importing"
Hi,

I get an error while trying to import this deck : https://quizlet.com/mx/488376244/sicher-b2-lektion-1-flash-cards/ using Anki 2.1.23.

Could you check it out?

[2020-09-01 19:34] sviatoslav-lebediev commented on #3
Hi, sure, will take a look

[2020-09-02 17:47] mmthomas312 opened #4 "error importing deck"
I put in the link to import and then the below message pops up.  It won't let me import the deck

Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools > Add-ons menu item to disable some add-ons and restart Anki, repeating until you discover

[2020-09-02 18:10] sviatoslav-lebediev commented on #4
Hi, could you please provide a link to the deck? you have clicked on the `Import Deck` button, right ?

[2020-09-02 18:38] vincentianxing commented on #4
Got the exact same error with this deck link: https://quizlet.com/25860132/genki-lesson-1-vocabulary-p-40-flash-cards/

Debug info:
Anki 2.1.33 (3f403040) Python 3.8.0 Qt 5.14.2 PyQt 5.14.2
Platform: Mac 10.15.5
Flags: frz=True ao=True sv=1
Add-ons, last update check: 2020-09-01 19:51:02
Add-ons possibly involved: ⁨Quizlet to Anki 21 Importer with audio support⁩

Caught exception:
Traceback (most

[2020-09-02 18:39] vincentianxing commented on #4
With all other add-ons turned off.

[2020-09-02 18:40] sviatoslav-lebediev commented on #4
yep, I see this error as well. will take a look, thx

[2020-09-02 18:41] sviatoslav-lebediev commented on #4
It looks like the original plugin has the same issue
https://ankiweb.net/shared/info/538351043

[2020-09-02 19:04] sviatoslav-lebediev commented on #4
it seems to me that Quizlet has changed their site, that's why we need to change our code.

[2020-09-02 19:42] mmthomas312 commented on #4
Yep I pressed import deck! It was this link https://quizlet.com/522168126/mcgraw-hill-connect-spanish-chapter-1-flash-cards/

[2020-09-02 20:35] tweinstein18 commented on #4
Hello I have been having the exact same problem trying to use this link. Any advice? https://quizlet.com/81925348/creencias-e-ideologias-vocabulario-flash-cards/

[2020-09-03 08:47] sviatoslav-lebediev commented on #4
@tweinstein18 right now we can't import any decks because quizlet has changed their site. we need to rewrite a parsing part from the scratch

[2020-09-05 09:16] sviatoslav-lebediev commented on #4
I've fixed the issue, please update a version of the addon and try to import sets

[2020-09-05 09:16] #4 closed

[2020-09-05 09:24] sviatoslav-lebediev commented on #3
I've updated this addon, could you please take a look if it works? I've successfully imported your deck. I'm going to close this issue. Please reopen it if you still have a problem with it

[2020-09-05 09:24] #3 closed

[2020-09-05 11:39] Jetplane786 opened #5 "Sorry, it's behind a captcha. Try to disable vpn error."
Hi, whenever i try to use the updated anki-quizlet importer, it says 'Sorry, it's behind a captcha. Try to disable vpn'. I have tried saving the deck to my area and still this doesn't work. I have tried to use an incognito tab and that doeesn't work either. The deck i want to download is: https://quizlet.com/gb/289619601/smooth-muscle-flash-cards/
Any ideas on what to do.

[2020-09-05 12:03] sviatoslav-lebediev commented on #5
Hi, have you done this  ?

[code]

[2020-09-05 12:07] sviatoslav-lebediev commented on #5
I've successfully downloaded your deck.

[2020-09-05 14:59] jonestj opened #6 "Not Downloading Entire Deck"
I have been attempting to convert this entire deck into my anki but it is only converting a fraction of the deck

https://quizlet.com/424186479/pcol-block-2-antimicrobials-part-ii-iii-flash-cards/

[2020-09-05 15:11] jonestj commented on #6
I just had to get it warmed up I guess, it worked!

[2020-09-05 15:11] #6 closed

[2020-09-05 18:09] Jackiee2020 opened #7 "Quizlet to anki mac"
https://quizlet.com/522306141/superficial-and-deep-back-mm-flash-cards/

I continue to get the error after downloading the quizlet to Anki
please help

[2020-09-05 18:12] Jackiee2020 commented on #7
Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools > Add-ons menu item to disable some add-ons and restart Anki, repeating until you discover the add-on that is causing the problem.
When you've discovered the add-on that is causing the pro

[2020-09-05 18:29] sviatoslav-lebediev commented on #7
Have you updated a version of the addon?  Here is a screenshot of the new version
Do you have a `Download audio` checkbox? If not try to remove and install the addon again.
![image](https://user-images.githubusercontent.com/19693768/92311335-d683ad80-efbe-11ea-8262-4ac8a16a1da0.png)

[2020-09-05 18:31] sviatoslav-lebediev commented on #7
Oh, I know why you have this problem :) You are using a different addon. You need to install this one https://ankiweb.net/shared/info/1362209126

[2020-09-05 20:19] Jackiee2020 commented on #7
Thank you so much

[2020-09-05 20:20] sviatoslav-lebediev commented on #7
sure, np

[2020-09-05 20:20] #7 closed

[2020-09-05 21:45] randomgithublad opened #8 "Decks won't fully download"
https://quizlet.com/gb/513846792/coition-flash-cards/
https://quizlet.com/gb/505488178/hormone-regulation-and-gonadal-function-flash-cards/

both these decks aren't downloading all the cards, it did download all cards for two other decks I tried though

I don't want the audio feature, but it didn't work w or w/o audio enabled.

Thank you for fixing it so quickly, I have exams in a few days and the

[2020-09-05 23:36] jag7dr opened #9 "Saying it's behind a captcha, but do not have a VPN"
The specific quizlet I'm trying to upload is https://quizlet.com/149857023/antimicrobials-flash-cards/
I'm not sure what else I can do to solve this issue?

[2020-09-06 07:35] sviatoslav-lebediev commented on #8
https://quizlet.com/314331873/p45-b2-antimicrobials-inhibitors-of-protein-synthesis-aminoglycosides-tetracyclines-macrolides-j-lockman-flash-cards/
This deck can't be fully imported as well
I will try to fix it

[2020-09-06 08:11] sviatoslav-lebediev commented on #9
I've successfully downloaded your deck. Do you use this addon https://ankiweb.net/shared/info/1362209126 ?
Have you configured it as described here https://ankiweb.net/shared/info/538351043 ?

[2020-09-06 09:39] sviatoslav-lebediev commented on #8
@randomgithublad fixed, try to update addon

[2020-09-06 15:06] j-j-kam opened #11 "Cannot find reverse card"
Unfortunately, I cannot find the reverse card - the deck contains only the front - back card and not back-front. It says in the addon specification that 2 cards are being created: original and reverse. Where can the reversed be stored? Overall the addon is splendiferous!

[2020-09-06 15:57] jag7dr commented on #9
I used the Quizlet to Anki Importer with Audio Support and I tried configuring it by setting qlts and it is getting the same error. I experimentally tried using the Quizlet to Anki Importer (without audio support) and I received the same message.

[2020-09-06 18:02] sviatoslav-lebediev commented on #9
do you have any firewalls? what OS do you use? maybe you can copy/paste here your plugin configuration?

[2020-09-06 18:08] jag7dr commented on #9
I'm not sure what exactly was happening, but I eventually switched the wifi I was on and the message disappeared. Thank you so much for your help!

[2020-09-06 18:09] sviatoslav-lebediev commented on #9
cool, happy you could find a way to solve the problem

[2020-09-06 18:09] #9 closed

[2020-09-06 18:10] #8 closed

[2020-09-06 18:25] sviatoslav-lebediev commented on #11
Hi, we create 2 templates, not 2 cards. You have everything that you need for creating a reversed cards
Here is a video of how to work with templates https://www.youtube.com/watch?v=DnbKwHEQ1mA&yt:cc=on
or
* you can fill the `Add Reverse` field for required notes and it should create reversed items
* If you always want to have a reversed items you can go Tools->Note types select Basic Quizlet Exte

[2020-09-08 15:15] cityunpacked opened #12 "Add-on not importing audio on reverse of card."
Thanks for your very helpful add-on. After the latest update it is not importing audio on the reverse of cards, only the front. The set in question is here: https://quizlet.com/190436922/phrases-for-religious-visa-flash-cards/

[2020-09-08 18:47] sviatoslav-lebediev commented on #12
Hi, I will take a look

[2020-09-08 19:11] sviatoslav-lebediev commented on #12
I've fixed this issue. try to update a plugin version

[2020-09-08 19:11] #12 closed

[2020-09-08 19:12] #11 closed

[2020-09-09 23:27] Lemsicle opened #13 "Keep getting the captcha error when I don't have a VPN"
Hi! Not sure how GitHub works, made an account just to report this issue since it seems like a more uncommon one.

I've been getting the captcha error for pretty much any deck I try to import, and I keep getting this error even though I don't have a VPN. I've used this add-on in the past (before Quizlet changed their website and it had to be fixed) and I've never received this error before. I saw

[2020-09-10 02:39] chrikx opened #14 "Audio Download doesn't download the audio from quizlet"
When I download this deck to anki, it gives a text to speech type audio, but the audio in the quizlet is a higher quality, pre-recorded human voice

https://quizlet.com/422966295/bbg-chapter-06-flash-cards/

[2020-09-10 07:24] sviatoslav-lebediev commented on #14
Hi, I will take a look, they have a few different audio URLs, maybe I need to take another one

[2020-09-10 15:14] sviatoslav-lebediev commented on #3
sure, np

[2020-09-10 15:24] Lemsicle commented on #13
I see. I’m using Windows 10, i actually tried using the addon on another computer (also Windows 10) and I got the same error as well so that makes sense.

[2020-09-10 15:25] sviatoslav-lebediev commented on #13
could you send me a link to the deck that you are trying to import?

[2020-09-10 15:32] Lemsicle commented on #13
https://quizlet.com/522975461/ap-ch-1-flash-cards/ here’s one deck that i tried to import

[2020-09-10 15:34] sviatoslav-lebediev commented on #13
thx, I will take a look

[2020-09-10 16:07] Lemsicle commented on #13
Thanks. and to clarify, it's not just that one deck, I've tried to import different decks on that same account and none have worked. you're free to check out any of the other decks on there as well

[2020-09-10 16:29] sviatoslav-lebediev commented on #13
The problem is that I actually can download your deck.
Have you configured your plugin settings ?

[code]

[2020-09-10 17:28] sviatoslav-lebediev commented on #14
@chrikx could you try to update a plugin ?

[2020-09-10 17:32] chrikx commented on #14
Sure if you give me steps to do it

[2020-09-10 17:34] sviatoslav-lebediev commented on #14
Tools->Add-ons - Check for updates

[2020-09-10 20:36] Lemsicle commented on #13
I have not configured them. and I can't seem to figure out how to do it from those instructions (unfortunately i have 0 experience with this kind of stuff), I either can't find the values or am pasting the wrong ones into the addon because it keeps giving me an error. if you could provide a more detailed set of instructions i might be able to do it?

[2020-09-10 20:44] Lemsicle commented on #13
hey! again, I don't know anything about coding but I saw the 403 error at the bottom of Chrome DevTools actually, even though the page itself loaded fine. could this be related to the issue?

![image](https://user-images.githubusercontent.com/71047075/92802807-d4d23500-f384-11ea-9d36-640657a18f63.png)

[2020-09-10 21:02] sviatoslav-lebediev commented on #13
That's a different one. Tomorrow I will create a short video how to configure plugin and will share with you

[2020-09-10 21:28] Lemsicle commented on #13
Thanks, I really appreciate it

[2020-09-11 10:05] sviatoslav-lebediev commented on #13
![image](https://user-images.githubusercontent.com/19693768/92908307-c9d3df00-f42e-11ea-8696-4a09094c288d.png)
![image](https://user-images.githubusercontent.com/19693768/92908517-f7208d00-f42e-11ea-8515-7cfab14d332b.png)

I think these 2 screenshots will help you to add a config but I don't think that this will fix your problem because your decks are not private I think. you have mentioned that V

[2020-09-12 02:42] Lemsicle commented on #13
Yeah, I was able to add the config but it didn't do anything, it keeps saying there's a captcha. It's just weird because it used to work fine and I never had this error.

[2020-09-12 13:32] sviatoslav-lebediev commented on #13
I think that something has been changed in your network settings, it would be interesting if could try to use a different WI-FI. as for the add on config - we need it just for private decks

[2020-09-13 16:26] kelciour commented on #13
Maybe try to use Fiddler as a proxy to see if it makes any difference - https://imgur.com/a/dWjPTTf
If there're no captured requests, try to restart Anki.

[2020-09-13 16:47] sviatoslav-lebediev commented on #13
As I can see the original add on supports copy/paste a page source code, I will try to add this mode to my version as well in a few days

[2020-09-13 17:09] Lemsicle commented on #13
Downloaded Fiddler, seems like it didn't do anything. :( Here's what I got:

![image](https://user-images.githubusercontent.com/71047075/93024134-14399500-f5c2-11ea-9813-b4b8561a645c.png)

[2020-09-13 17:56] kelciour commented on #13
@sviatoslav-lebediev I don't know, maybe it'll be just a waste of time, but if it helps the relevant changes are in a separate branch on GitHub - https://github.com/kelciour/improved-quizlet-to-anki-21-importer/commit/20c1dc77e4e262bd202850aa6ab94a6f04da2afb

I only added it as a possible workaround for the same captcha error, but it probably will only work for text-based sets and any picture or a

[2020-09-13 20:51] sviatoslav-lebediev commented on #13
Hi @kelciour, yep it will help, I will try to add this mode to my fork as well. To be honest I would prefer merging these 2 add-ons because they have almost the same functionality, but it's up to you :)

[2020-09-14 00:29] kelciour commented on #13
@sviatoslav-lebediev yeah, merging them would make perfect sense now, but I'd prefer to keep it as it is.

It's just I have no interest in the Quizlet add-on, but since some Anki users were using it and there were no other alternatives last time, I didn't have a choice but to try and fix the add-on a few times and maybe add some new functionality in the meantime if I was interested to do it and it

[2020-09-14 00:47] Lemsicle commented on #13
ah, my bad! here's what I got from Fiddler this time:
![image](https://user-images.githubusercontent.com/71047075/93032769-3bfc1d80-f601-11ea-8501-d81c273fc9f9.png)

I also tried the ctrl + U thing on the OG addon and it worked, imported the deck with pictures and all!

[2020-09-14 05:19] sviatoslav-lebediev commented on #13
@Lemsicle cool I will add ctrl+u functionality to my version as well

[2020-09-14 13:58] kelciour commented on #13
@sviatoslav-lebediev since it's working I merged it to the master branch and added a workaround for Ctrl+U on Ubuntu. For some reason, Ctrl+U on Ubuntu is being captured by QLineEdit and will cut the line to the clipboard and it's not listed on https://doc.qt.io/qt-5/qlineedit.html as one of the default key bindings.

@Lemsicle that's great!

If you're still interested or anyone else is interested

[2020-09-16 23:16] #14 closed

[2020-09-26 00:24] Lemsicle commented on #13
@kelciour Sorry I disappeared for a while! I was hit with a bunch of exams, among some other things. Would you still like the archive?

[2020-09-26 00:46] kelciour commented on #13
@Lemsicle yes, sure, if it won't bother you too much.

I have no experience and almost no knowledge and don't know if just comparing requests and looking around for some clues will be fruitful or not. If nothing else, maybe it'll be possible to show the web page to the user, solve the captcha, save the cookies and use them with the add-on.

https://support.cloudflare.com/hc/en-us/articles/20017013

[2020-09-26 01:19] Lemsicle commented on #13
Okay, no problem! I just wanted to make sure in case you already got it from someone else. Here it is: https://gofile.io/d/NFunIk

[2020-09-26 11:34] kelciour commented on #13
Thank you! Though it didn't help very much. The captured archive contained a few additional requests to https://eventlogger-k8s.quizlet.com with 403 response code but it doesn't seems to be relevant to our case as it seems to be just some usage statistics that were being sent to Quizlet after a web page was already successfully loaded or maybe when there were some interaction with the web page. It

[2020-09-27 00:49] Lemsicle commented on #13
Well, that sucks. I mean, at this point I think I'll be fine with using a VPN or copypasting the source code into the add-on to import decks. It's a minor inconvenience but it works. Regardless, is there anything else I can do to help at this point?

[2020-10-02 21:00] Nilgus opened #15 "Error: can't find a deck with the ID 8"
I have repeatedly tried to transfer the deck below from Quizlet to Anki.  Everytime Anki has told me it can't find it.

https://quizlet.com/_8rp2ld?x=1jqt&i=275fs5

[2020-10-05 21:29] kelciour commented on #13
The different approach probably would be to use Wireshark similar to Fiddler to intercept and compare HTTPS requests and eventually update the add-on to make requests similar to the web browser. But I have no experience with Wireshark, there might be some hidden obstacles, I don't know if it'll be possible to fix the add-on this way and can't help with it since I can't reproduce the issue myself.

[2020-10-06 08:37] sviatoslav-lebediev commented on #13
Hi, here is my two cents:) If I'm not mistaken we don't have a huge amount of cases like this. So honestly I don't think we need to solve this issue and add any additional code to our plugins. The plugin should do 1 job and this job is moving data between Quizlet and Anki. Any additional code makes plugin and supports more complicated. As I understood user can fix this issue using a VPN, we can ad

[2020-10-06 11:16] kelciour commented on #13
Hi, Sviatoslav. Yes, I agree with you. The code to solve the captcha challenge maybe will be useful later if it can solve the current issue, but it'd need to be refactored, maybe improved and maybe shows up automatically without pressing any extra keys. I reverted all relevant commits in the repository to keep the code as it used to be.

[2020-10-07 00:57] Lemsicle commented on #13
I can confirm that using ctrl + G allowed me to solve the captcha and import the deck :)

[2020-10-07 10:16] kelciour commented on #13
Thank you @Lemsicle for testing and confirming that it's working :)

[2020-10-17 14:46] ElKron opened #16 "Quizlet import not working"
Dear,

I always get the error below while trying to download a Russian <-> Dutch deck.
Quizlet link: https://quizlet.com/be/330117975/ruslan-russisch-les-1-flash-cards/

Kind regards, ElKron

Debug information:
Anki 2.1.35 (84dcaa86) Python 3.8.0 Qt 5.14.2 PyQt 5.14.2
Platform: Windows 10
Flags: frz=True ao=True sv=1
Add-ons, last update check: 2020-10-17 16:23:12

Caught exception:
Traceback (mos

[2020-10-20 18:00] sviatoslav-lebediev commented on #16
Hi, thank you for letting me know. I've checked and it looks like everything is ok, I can import-export your deck.
Could you please take a look maybe you have changed a note type structure (Basic Quizlet Extended), or maybe you have used a plugin without audio support before (it has a different list of fields)? If so I would recommend to rename a note type and try to import again, the plugin will

[2020-10-21 17:45] ElKron commented on #16
renaming the note type worked like a charm. Thank you!

[2020-10-21 17:45] #16 closed

[2020-10-21 17:47] sviatoslav-lebediev commented on #15
Hi, could you try to use this URL https://quizlet.com/530248801/qasid-diplomasia-b1-chapter-4-lesson-1-flash-cards/ ?

[2020-10-31 23:11] #15 closed

[2020-11-10 05:21] jessmoody opened #17 "Error when importing a deck"
Quizlet deck: https://quizlet.com/349920925/genki-chapter-4-useful-expressions-flash-cards/

[2020-11-16 13:30] kelciour commented on #13
Accidentally was able to trigger the captcha error by trying to download
https://quizlet.com/515858716/japanese-shops-fruit-flash-cards
instead of
https://quizlet.com/515858716/japanese-shops-fruit-flash-cards/

It should be fixed now with https://github.com/kelciour/improved-quizlet-to-anki-21-importer/commit/79222634252d2e38a022201538b9f3090d181dce, the add-on https://ankiweb.net/shared/info/538

[2020-11-19 10:00] borland6 commented on #1
@sviatoslav-lebediev
I am sorry for my late response. It works now. Thanks for your great help.

[2020-11-19 17:37] tonynap opened #18 "How to add reverse cards, or change the cards to reverse!"
Hello! I have what I suspect may be simple, but I cannot figure out how to do it.
Deck Used: https://quizlet.com/24957216/discover-china-book-1-unit-2-flash-cards/

I import a deck from quizlet fine, and now have for example 10 cards. I am importing Mandarin cards. An example card after import would be:

-----------------
Front: nihao 你好
Back: Hello
-----------------

Question is: How do I change

[2021-01-11 10:18] malotru007 opened #19 "Quizlet import with audio not working"
Seen that other people have been having that issue. Used to work but no more. I updated Ank and went to the link that you gave but still with no success. I get the familiar error message:

Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools

[2021-02-11 16:21] tttyler opened #20 "will not import more than 20 of the flash cards"
will not import more than 20 of the flash cards from the url

I don't know if this is fixed and solved somewhere else...

[2021-02-11 16:34] tttyler commented on #20
...nevermind

[2021-02-28 17:53] #20 closed

[2021-02-28 17:58] sviatoslav-lebediev commented on #19
Hi, sorry, I haven't seen your message. Does it work right now? I tried your URL and I could import all words.

[2021-02-28 18:01] sviatoslav-lebediev commented on #18
Hi, sorry I haven't seen your message. have you found how to do this? Here is a video https://www.youtube.com/watch?v=s2raTx19ByM
you just need to create an additional note type

[2021-02-28 18:03] sviatoslav-lebediev commented on #17
Hi, sorry I haven't seen your message. Does it work right now? On my laptop, I could import all words.

[2021-03-01 09:19] malotru007 commented on #19
Hi, Thanks for getting back to me. Yes, still receiving the same error message as above...

[2021-03-01 11:18] sviatoslav-lebediev commented on #19
Could you please take a look, maybe you have changed this note type `Basic Quizlet Extended` if so please rename it, restart anki and try import again.

[2021-03-05 16:15] VeganStudent commented on #13
Hey I'm new to Github, made an account so I can ask for help here but, how do you download this fix. I've already got the patch for Quizlet so I'm able to import flash cards from Quizlet onto Anki without issue. Referring to the mic support portion of it. I don't know any coding or anything required to do in order to get the mic feature working. I've downloaded the zip file, but what else am I sup

[2021-03-05 16:19] sviatoslav-lebediev commented on #13
@VeganStudent Hi, if you need audio support you should download this plugin https://ankiweb.net/shared/info/1362209126

[2021-03-05 17:07] VeganStudent commented on #13
So I download that on top of the other quizlet add on, as I was seeing in the comments that some suggested downloading the other add on, and copying the source code to it in order to get the audio support. Also won't downloading both add ons interfere with each other?

[2021-03-05 17:11] sviatoslav-lebediev commented on #13
If you don't have captcha errors I would recommend downloading the plugin that I mentioned before and check if it works for you. I don't think they can interfere somehow, but maybe they use the same deck and if the structure of the deck is different you will get an error (deck name is `Basic Quizlet Extended`).

[2021-03-05 17:26] VeganStudent commented on #13
Checked out the add on and it doesn't work, still says behind a captcha. The other quizlet add on that's able to get passed this doesn't work for the quizlet with audio support add on. It doesn't seem to interfere, but they don't go hand in hand. If you're talking about the zip file that's what I was looking to download however I don't know anything about getting that installed and adding onto Ank

[2021-03-05 17:42] kelciour commented on #13
@VeganStudent for the add-on without audio support, did you use [the .ankiaddon file with Ctrl+G support](https://github.com/kelciour/improved-quizlet-to-anki-21-importer/releases/tag/v1.0.0-captcha) to manually solve the captcha? Because the AnkiWeb version (with a fix) doesn't seem to be working anymore or maybe I got it wrong right from the start and the fix didn't work at all.

[2021-03-05 17:54] VeganStudent commented on #13
Yes I did, however it only works for that add on, and not the other quizlet add on with the audio.

[2021-03-05 18:22] VeganStudent commented on #13
I'm trying to get the audio support installed with importing things from Quizlet so I can save a lot of time transferring my flash cards from there to Anki. I just want to know how to get it working, or to see if its possible to do so.

[2021-03-05 18:26] sviatoslav-lebediev commented on #13
The audio add-on doesn't support any anti-captcha algorithms, so I'm not sure if it's easy to add to it.  Have you tried to use it with an enabled VPN? Do you still have this error?

[2021-03-14 02:30] PoppyHarloe opened #21 "Quizlet to Anki not Working"
The importer ignores the "Start Phrase" and "Stop Phrase." Instead, it attempts to import the entire deck. Additionally, after the importer imports the entire deck, ignoring the start and stop phrase, no cards are in the deck when checking Anki; in other words, after "importing" the deck, there are no cards in Anki.

[2021-03-14 02:47] PoppyHarloe commented on #21
Please disregard the above post. I was using the add-on incorrectly. My mistake.
- PoppyHarloe

[2021-03-24 16:23] WillPowerJA opened #22 "Audio being chopped"
Hello, the addon seems to work pretty well. The only small issue I have at the moment is that the audio I've imported gets chopped off at the end. For example, take the Spanish word "Gracias." The card will only say, "Gracia," leaving out the last "s" sound. Similar things happen with more complex cards. Any fix? Otherwise the addon works great.

Quizlet URL: https://quizlet.com/522126042/spanish-

[2021-03-25 06:22] AleksisME opened #23 "Reverse card"
Добрый день, почему при импорте автоматически не создаются обратные карточки? М.б. можно добавить такую опцию?

[2021-03-26 21:14] WillPowerJA commented on #23
Hello. I'm not the developer of the addon, but I did figure out how to add reverse cards. Watch this video around 2:40: https://www.youtube.com/watch?v=s2raTx19ByM. You type a "Y" in the "Add Reverse" field on the card. You can do this for each individual card. Or, as I did, you can download the "Batch edit" Anki addon (https://ankiweb.net/shared/info/291119185) and do this all at once. Hope this

[2021-04-01 23:49] WillPowerJA commented on #22
By the way, I'm on Anki v.2.1.35

[2021-04-09 20:03] sviatoslav-lebediev commented on #22
thx, I will take a look

[2021-04-09 20:04] #21 closed

[2021-04-09 20:09] sviatoslav-lebediev commented on #23
Hi, thank you @WillPowerJA, yes we have the same issue here https://github.com/sviatoslav-lebediev/anki-quizlet-importer-extended/issues/18, and I've mentioned the same video :)

[2021-04-09 20:18] sviatoslav-lebediev commented on #22
Do you still have this problem? I've tried to download your Quizlet and don't see any problems. Here is a a link to exproted items https://filebin.net/md0dgifkt257kslx/Spanish_I_A____8_Week___Semana_1____Bienvenidos_.apkg?t=a0qjx6vz

[2021-04-09 22:15] WillPowerJA commented on #22
Hi @sviatoslav-lebediev, I do still have the problem unfortunately. The strange thing is, it even happens with the exported deck you attached. So that makes me wonder if it's something wrong on my end? Even stranger though is the problem occurs whether or not I'm on PC or iPhone mobile Anki. It's as if the audio on every card is cut 0.5 seconds short. For example, find the card "No entiendo" in th

[2021-04-16 19:36] sviatoslav-lebediev commented on #22
Hi, honestly, I don't know how to help you with your desktop, but I would try to reinstall the audio drivers

[2021-04-16 19:36] #22 closed

[2021-04-24 19:25] ThePieMonster opened #24 "KeyError: 'FrontAudio'"
Looks like some error handling is needed here:

[code]

[2021-05-20 19:02] sviatoslav-lebediev commented on #24
Hi, have you changed a deck that this plugin uses?

[2021-07-23 15:54] rsisonline opened #25 "Issue with importing"
Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools > Add-ons menu item to disable some add-ons and restart Anki, repeating until you discover the add-on that is causing the problem.
When you've discovered the add-on that is causing the pro

[2021-07-24 18:57] sviatoslav-lebediev commented on #25
Hi, I will take a look.

[2021-07-24 19:06] sviatoslav-lebediev commented on #25
I've successfully imported your deck.
![image](https://user-images.githubusercontent.com/19693768/126878732-76d5b4ef-4dc4-45c0-80da-5d5fd752cdf8.png)
![image](https://user-images.githubusercontent.com/19693768/126878835-b58b402c-4947-4748-8d5c-3647b8c17edc.png)

I think about 1 problem that you can have. Did you change somehow this note type `Basic Quizlet Extended`? You should not do this, otherw

[2021-07-24 19:07] sviatoslav-lebediev commented on #25
here is a similar issue https://github.com/sviatoslav-lebediev/anki-quizlet-importer-extended/issues/24

[2021-07-25 03:13] rsisonline commented on #25
Oh I think I did! How do I fix it? Thank you so much for figuring it out so fast!

[2021-07-25 08:14] sviatoslav-lebediev commented on #25
Try to rename `Basic Quizlet Extended`. the add-on should recreate it.

[2021-07-26 11:34] rsisonline commented on #25
It worked! Thank you so much ♥️ Such a great add-on for language learning!

[2021-07-26 11:35] sviatoslav-lebediev commented on #25
cool, happy to help :)

[2021-07-26 11:35] #25 closed

[2021-07-26 11:35] sviatoslav-lebediev commented on #24
https://github.com/sviatoslav-lebediev/anki-quizlet-importer-extended/issues/25

[2021-07-26 11:35] #24 closed

[2021-09-04 11:36] #17 closed

[2021-09-04 11:36] #18 closed

[2021-09-04 11:36] #23 closed

[2021-11-21 16:10] #19 closed

[2021-11-21 16:11] #13 closed

[2022-02-03 19:38] sviatoslav-lebediev opened #27 "check"

[2022-02-03 20:03] sviatoslav-lebediev opened #28 "upnext-playground"

[2022-02-09 08:17] AlexLloyd0 opened #29 "Set add reverse from config or import window"
I'd always like import to create reversed cards. It would be great if there were an easier way to do this.

Either in the config file or a checkbox in the import window would be great.

My current workflow is:

1. Import deck
2. Browse -> select the new deck
3. Select all cards
4. Right click -> Notes -> Find and Replace
5. Replace "" with "true" in the Add Reverse field

Which is quite slow and e

[2022-02-14 07:24] AlexLloyd0 commented on #29
I'm happy to implement this (*) if you confirm that there's no easier way to do this in the existing extension?

(*) I have no experience developing Anki add-ons so I would be slow at implementing this simple feature

[2022-03-27 13:51] sviatoslav-lebediev commented on #29
Hi @AlexLloyd0, sorry didn't see your message :(
you can try to add a new line here https://github.com/sviatoslav-lebediev/anki-quizlet-importer-extended/blob/4121da52c9f7c433976c3a011f106632fae61263/__init__.py#L341
something like this `note["Add Reverse"] = True` or `note["Add Reverse"] = "true"`
you can open a folder with the installed plugin and change it there, restart Anki and try to import

[2022-03-27 19:15] #28 closed

[2022-03-27 19:16] #27 closed

[2022-04-08 18:37] kjanus9931 opened #30 "'NoneType' object is not subscriptable"
Hi! Today I wanted to download one deck and I this information in the title. Below I will add every piece of information that I have in the window that opens.
I downloaded this deck yesterday and it was fine. Today I have a problem.
My Quizlet deck: https://quizlet.com/pl/686287672/kwiecien-zdania-do-nauki-flash-cards/
I reinstalled add-on but still isn;t working. Bts great work!

Below all text f

[2022-04-08 19:15] mhujer commented on #30
I was facing the same issue, it seems that Quizlet changed the structure of JSON data.

I tried to fix it by rewriting the `mapItems` method and it works fine for my sets (I'm not using any rich text there, so I didn't bother with it). Use with caution, it is the first Python code I ever wrote! :-)

[code]

[2022-04-09 04:27] shooter28 commented on #30
The above code fixed for me as well!

[2022-04-09 08:28] baazko commented on #30
Hi @shooter28 , @mhujer ,
would you like to tell me how I can do it, just step by step? I'm a total rookie but I'd love to fix it

[2022-04-09 15:33] kjanus9931 commented on #30
Yeah, I also don't know how to implement this code so it would be amazing if you could tell us :)

[2022-04-10 06:59] mhujer commented on #30
@baazko @kjanus9931 Hi!

1. You need to locate the plugin directory, for me it is `Anki\AnkiData\addons21\1362209126\` (but I have custom setup with the portable data dir).
1. There is a file called `__init__.py` which you need to open in Notepad++ (or similar)
2. Next in that file you need to locate the line `def mapItems(jsonData):`
3. Replace this line and all the following lines up to `class Q

[2022-04-10 07:05] shooter28 commented on #30
Another way to locate the add-on file is to open up Anki and click on "tools".  From the drop down menu, select "add ons".  When the add-ons menu pops up, click on "view files" as shown in the picture.  As @mhujer said, open up the _init_.py file in something like Notepad.  I actually cntrl+F searched for the function "def MapItems" and then completely replaced the function with the code above.  A

[2022-04-10 14:55] baazko commented on #30
@shooter28 , @mhujer
Thank you so much, guys! It really works 😃

[2022-04-10 18:57] sviatoslav-lebediev commented on #30
@mhujer thx, I've updated add-on.

[2022-04-10 19:07] mhujer commented on #30
@sviatoslav-lebediev Maybe it will need some more tweaking, because I completely ignored the rich text in my patch (as I'm not using it in my sets).

[2022-04-10 20:30] sviatoslav-lebediev commented on #30
I'm not sure that I did anything with the rich text before :) will take a look.

[2022-04-12 23:18] KashGu commented on #30
I understand that rich text (highlighting and bolding) is still in the process of getting fixed.

Currently, I am facing an issue where the pictures merge but for cards that don't have a picture, the last card that did have a picture recycles that image on the following text only cards inserting images until the next card comes along with a different picture. This keeps going for the rest of the d

[2022-04-16 19:29] sviatoslav-lebediev commented on #30
@KashGu please provide a link for your deck otherwise I will not be able to help

[2022-04-16 19:33] KashGu commented on #30
@sviatoslav-lebediev Here is an example of one of mine. TIA for looking into this

[https://quizlet.com/690496704/45-parasitic-respiratory-infections-flash-cards/]

[2022-04-17 12:04] sviatoslav-lebediev commented on #30
@KashGu try to update addon, should be fixed

[2022-04-17 15:37] KashGu commented on #30
@sviatoslav-lebediev Just updated! Seems to have fixed both the image and audio issues from my end. Thank you so much for all the help! Appreciate it :)

[2022-04-17 15:51] proelf98 opened #31 "Add-On is not downloading the original audio and instead only the Text to Speech audio"
I want to have the original audio from the Quizlet deck but only get the text to speech audio. (I am using the latest version from today 4/17/2022)

Any solution?

[2022-04-17 18:00] #30 closed

[2022-04-17 18:02] sviatoslav-lebediev commented on #31
Hi, could u please send me a deck? and a list of phrases where you have the original audio

[2022-04-18 08:43] rkstedman commented on #31
I'm also running into this issue - here's a link to my deck: https://quizlet.com/460625273/level-7-lesson-1-flash-cards/
The FrontText, FrontAudio, and BackText import correctly but the BackAudio is missing. Would appreciate any help you can provide.

[2022-04-18 19:12] sviatoslav-lebediev commented on #31
should work. Try to update a version of the addon

[2022-04-19 07:30] proelf98 commented on #31
Thank you very much <3 it works now. Do you have a digital tipping jar or sth.?

[2022-04-19 07:48] rkstedman commented on #31
+1 It works for me too! Thank you - would love to know your digital tipping jar as well :)

[2022-04-19 22:02] sviatoslav-lebediev commented on #31
nope, I don't have a tipping jar :) don't worry, enjoy studying. if you need any additional features, let me know

[2022-04-20 12:12] sviatoslav-lebediev commented on #29
@AlexLloyd0  I will add this as a checkbox

[2022-04-20 19:54] sviatoslav-lebediev commented on #29
done

[2022-04-20 19:54] #29 closed

[2022-04-20 19:54] #31 closed

[2022-05-01 19:11] mhujer opened #32 "After upgrading to Anki 2.1.50, media are created in incorrect folder"
I'm using Anki with a specific data folder (launching Anki with `C:\Anki\AnkiApp\anki.exe -b c:\Anki\AnkiData\`).

Since upgrading to Anki 2.1.50 (the issue persists in 2.1.51), media downloaded from Quizlet are created in the application directory (`C:\Anki\AnkiApp`) and not in data directory (`C:\Anki\AnkiData\Martin\collection.media\`).

I was wondering if anyone else noticed this? Do you think

[2022-05-06 07:11] mhujer commented on #32
I just had an idea which may help with debugging the issue: I tried to drag&drop an image to a new card and the file was created in the correct directory.

[2022-05-07 13:12] sviatoslav-lebediev commented on #32
ok, I've found the place where we can fix this "issue" :) the only problem is that I can't find an Anki API that provides a method for getting a base folder :(  here is the only code that I've found https://github.com/ankitects/anki/blob/e6d990a44e2f1d3ef9dfb1303c6049f749dd01f0/qt/aqt/__init__.py#L351
I will try to find a way how to fix it but so far you can go and manually change this line  https

[2022-05-09 20:44] mhujer commented on #32
@sviatoslav-lebediev Hello, thanks for the hint! I did some digging around anki repo and found that there is "media manager" with the [`dir()` method](https://github.com/ankitects/anki/blob/e6d990a44e2f1d3ef9dfb1303c6049f749dd01f0/pylib/anki/media.py#L61) and conveniently, the media manager is available on the collection, so in the end, it was an easy fix (see #33).

[code]

[2022-05-09 20:46] sviatoslav-lebediev commented on #32
cool, thx for a PR. I will test/merge it tomorrow.

[2022-05-11 09:40] #32 closed

[2022-05-14 15:15] apolotion opened #34 "Audio is in the wrong language"
Hi! I've been using this addon for a bit of time to study languages, and it's been incredibly helpful. Recently I reset my machine, and I reinstalled the addon alongside Anki. I think that there's an issue at the moment though, in that the front of my cards are read in English, while the backs are also read in English. I've done this with French, Chinese, and Polish, yet all the backs are still be

[2022-05-16 19:30] sviatoslav-lebediev commented on #34
It's interesting. For some reason, Quizlet returns different data when you open a page in a browser and when you download the page using an addon.
that's what it returns as an addon version
[code]
as you can see it is an English version for the definition, but in the browser version, it returns a french version.
I will need more time to understand why.  I will let you know when I find something
 F

[2022-06-30 04:03] apolotion commented on #34
Hey again! Not entirely sure what happened, but the sets seem to be downloading just fine now with the language in the proper language. I guess waiting just works sometimes lol.

[2022-07-10 06:22] sviatoslav-lebediev commented on #34
Hi, interesting, maybe Quizlet had some issues. Anyway, thank you for letting me know.

[2022-07-10 06:22] #34 closed

[2022-08-05 16:56] yaroslav-v opened #35 "Import for private decks"
Hi! Thx for a great add-on.

It's not an issue, but a feature request.

Is there a possibility to add an option to import private decks (of course if a user knows a password)? It'd be great to have it.

[2022-08-11 07:40] yaroslav-v commented on #35
Actually, it's already supported as the author mentioned in the comments there https://ankiweb.net/shared/info/1362209126

Thx, closed.

[2022-08-11 07:40] #35 closed

[2022-08-21 14:36] biggiebuns opened #36 "Issue with importing Quizlet to Anki"
Error: "Can't find a deck with the ID 3"   when trying to import any Quizlet decks.

Quizlet link:
https://quizlet.com/_a3s5bf?x=1jqt&i=lxb7j

[2022-08-30 13:26] sviatoslav-lebediev commented on #36
Hi, could u try to import the full URL instead https://quizlet.com/611013867/basic-sciences-ii-week-2-material-flash-cards/?x=1jqt ?

[2022-09-09 17:34] willbert03 opened #37 "Importing Password Protected Quizlets"
How do you import password-protected Quizlets? I don't understand and the small explanation doesn't help.

[2022-09-13 16:11] sviatoslav-lebediev commented on #37
Hi, @willbert03 you mean private Quizlets?
1. open https://quizlet.com/
2. log in
3. open dev tools https://developer.chrome.com/docs/devtools/open/
4. you will see an Application tab. Click on it
5. copy qlts
![image](https://user-images.githubusercontent.com/19693768/189952040-d553e0e9-d5be-41bf-8f62-cbb44db8afe9.png)
6. add it to the anki extension config
![image](https://user-images.githubuser

[2022-09-14 18:34] willbert03 commented on #37
Hi, that makes sense but it still doesn't work. I've done the qlts part all correctly but the addon outputs 'Sorry, behind a captcha.' and then sometimes 'Sorry, this is a private deck :('
Here are the 2 Quizlets I'm trying to access;
- https://quizlet.com/gb/359780859/whole-of-gcse-biology-paper-1-triplehigher-content-indicated-on-cards-flash-cards
- https://quizlet.com/gb/359782147/whole-of-gcse

[2022-09-16 19:28] sviatoslav-lebediev commented on #37
Oh, I guess I misunderstood. I don't think we can import "password-protected Quizlets" if we don't have a password. So the question is do you have passwords for ^ Quizlets ?

[2022-09-16 19:29] #36 closed

[2022-09-22 00:53] RitaSayre opened #38 "Partial Deck Import"
Hi, when I import from Quizlet, I only get a max of 20 cards. When importing, I see a message that it successfully imported the entire deck (36 cards, 65 cards, etc), but only 20 appear and are listed.  I am using a mac with Anki Version ⁨2.1.54. Thanks!

[2022-09-22 10:01] sviatoslav-lebediev commented on #38
hi, could you give me that Quizlet deck link ?

[2022-09-22 10:12] mhujer commented on #38
@RitaSayre my guess is that the deck was imported successfully, but the Anki displays that there are just 20 new cards for today.

Try using the "Browse" button in the Anki to see the imported cards.

[2022-10-06 02:21] RJ-Frosty commented on #37
Does this solution work with safari?

[2022-10-06 12:06] sviatoslav-lebediev commented on #37
if we are talking about not password-protected quizlets it should work, here is how to get cookies in safari https://www.loopinsight.com/2015/08/06/how-to-view-safari-cookies/

[2022-10-17 15:23] sviatoslav-lebediev opened #39 "import issue"
hello, my computer is windows and I actually use a vpn, BUT still cannot import cards success. I can only function with quizlet-importer-v1.1.1-captcha

here is my description:

Anki 2.1.54 (b6a7760c) Python 3.9.7 Qt 6.3.1 PyQt 6.3.1
Platform: Windows 10
Flags: frz=True ao=True sv=2
Add-ons, last update check: 2022-10-17 15:28:24

Caught exception:
Traceback (most recent call last):
File "urllib3.

[2022-10-18 08:20] Songztu commented on #39
Thank very much to you since you take your time to solve this issue.
Hope it will not spend too much time.
Sincere gratitude.

[2022-10-18 21:00] sviatoslav-lebediev commented on #39
I will try to add an ability to copy/paste HTML from the quizlet.com. in this case, the addon will use that HTML instead of downloading it.  Hope I will have time tomorrow

[2022-10-23 16:20] Lray2 opened #40 "Add on saying cant find the deck with id 4"
https://quizlet.com/_c4vyts?x=1jqt&i=2ufy8
keeps saying what I wrote above :(. None of the decks I have tried work

[2022-10-23 16:35] sviatoslav-lebediev commented on #40
The addon doesn't support short URLs, it needs to know an id of the deck. Try to open your URL in a browser and use the full URL. For example your ^ URL should be https://quizlet.com/733804048/psych-344-exam-2-book-chapters-5678-flash-cards/?x=1jqt

[2022-10-23 16:53] sviatoslav-lebediev commented on #39
@Songztu Hi, could you please try to check if this approach works for you.
1. Open Anki. Click Tools/Add-ons
2. Select Quizlet to Anki 21 Importer...
3. Click View Files
4. Open __init__.py in an editor
5. Replace content of __init__.py using this text code https://raw.githubusercontent.com/sviatoslav-lebediev/anki-quizlet-importer-extended/eb53ce4b61131ec0634fd2dadaa4c15e9399aaf4/__init__.py
6. R

[2022-10-23 20:11] Lray2 commented on #40
that worked thank you so much!

[2022-10-23 20:11] #40 closed

[2022-10-24 23:03] molassescookies opened #42 "import quizlet not working"
quizlet link: https://quizlet.com/738298002/im-eor-pulmonology-flash-cards/

when i try to import my quizlet, it says the add on is causing a bug problem and gives me error message

[2022-10-25 13:27] sviatoslav-lebediev commented on #42
Hi, could you provide the whole error text ?

[2022-10-28 05:38] AP32OVO opened #43 "Issue october 28th"
After doing inspect and follwing the steps with HTML i get an error that states:

'NoneType' object has no attribute 'group'
-----------------

[2022-10-28 05:47] AP32OVO commented on #42
i also get an error message that states
"'NoneType' object has no attribute 'group'
-----------------"

and a bunch of other really long text

[2022-10-28 10:21] sviatoslav-lebediev commented on #42
@AP32OVO could you provide the deck URL please ?

[2022-10-28 12:35] AP32OVO commented on #42
It doesn't matter which one of the decks its all the same but here are two of them.

https://quizlet.com/703265462/pcat-chapter-1-laboratory-flash-cards/
or
https://quizlet.com/ca/604138385/animal-phyla-non-chordates-flash-cards/

[2022-10-29 10:01] sviatoslav-lebediev commented on #42
thx, i will take a look, maybe quizlet has changed something

[2022-10-29 10:53] sviatoslav-lebediev commented on #42
hm, I've re-installed the addon and tried to import your decks, and it works. `"'NoneType' object has no attribute 'group'` means that the addon can't find the required data in the HTML, so maybe for some reason on your computer, it can't fetch the correct HTML.

Could you try to check this approach ? also please provide the whole error text it can help to debug the problem.
https://github.com/svi

[2022-10-29 10:54] sviatoslav-lebediev commented on #43
https://github.com/sviatoslav-lebediev/anki-quizlet-importer-extended/issues/42#issuecomment-1295801888

[2022-10-30 18:49] sviatoslav-lebediev commented on #43
@AP32OVO i've released a new version of the addon, try to update and check if it works for you

[2022-10-31 23:50] hgy7756 opened #44 "How to donate to your Ko-Fi"
I just tried to donate to your Ko-Fi page using PayPal, and it denied me saying something about "international regulation/standards" or something like that. Any idea why that would happen?

[2022-11-01 14:49] sviatoslav-lebediev commented on #44
Hi, thank you for letting me know. Maybe it's because I'm Ukrainian. I will take a look.

[2022-11-01 16:30] sviatoslav-lebediev commented on #39
I've updated a version of the addon, please try one more time. If you still have a problem, please create another issue.

[2022-11-01 16:30] #43 closed

[2022-11-01 16:30] sviatoslav-lebediev commented on #42
I've updated a version of the addon, please try one more time. If you still have a problem, please create another issue.

[2022-11-01 16:30] #42 closed

[2022-11-02 21:52] Hithereui opened #45 "Missing audio files"
I tried using the importer from Quizlet to Anki, the deck imported fine apart from the audio. When I went to check media, it said: _The following files are referenced by cards, but were not found in the media folder_, and then listed the missing audio files.

[2022-11-03 11:49] sviatoslav-lebediev commented on #45
hi, could you please provide a quizlet deck ?

[2022-11-03 20:51] Jasmedic opened #46 "not working :'("
It comes up with this
{"statusCode":500,"code":"ERR_NON_2XX_3XX_RESPONSE","error":"Internal Server Error","message":"Response code 404 (Not Found)"}

Quizlet IRL: https://quizlet.com/_ca45ww?x=1jqt&i=2r9tdw
Mac version 12.1

[2022-11-03 21:43] Hithereui commented on #45
The latest that I tried to import was this: [https://quizlet.com/gb/428549236/aqa-gcse-german-121h-mein-idealer-job-flash-cards/](url)

I have found an alternative solution - I have added the Anki TTS function to my note types, meaning that the card is read out loud for me. I think that this also doesn't take up (much) space on the hard drive by storing audio files. However my issue may be the sam

[2022-11-04 09:51] sviatoslav-lebediev commented on #45
sure, thank you for letting me know. The Anki TTS addon is cool, but I think Quizlet's audio quality is better. I've tried to import your deck, and I didn't have any problems. Do you have any VPN clients? I would try to import with and without VPN enabled.
Recently I've added an internal proxy that helps when you can't fetch data from the Quizlet, but this proxy now works just for text, not for au

[2022-11-04 09:53] sviatoslav-lebediev commented on #46
Hi, the addon supports only 'long' links. Please open your link in the browser and use that link. For example your link should be https://quizlet.com/gb/742584560/pbl-all-flash-cards/?x=1jqt

[2022-11-04 15:42] sviatoslav-lebediev commented on #44
going to close this issue, I've switched to the https://www.buymeacoffee.com/moro.programmer . Thank you again for letting me know.

[2022-11-04 15:42] #44 closed

[2022-11-07 10:50] sviatoslav-lebediev commented on #46
i'm going to close this issue, let me know if it works when you use long links

[2022-11-17 16:42] #38 closed

[2022-11-26 11:25] watrmelone opened #47 "Anki to Quizlet importer not functioning"
{"statusCode":500,"code":"ERR_NON_2XX_3XX_RESPONSE","error":"Internal Server Error","message":"Response code 403 (Forbidden)"}

Tried a few different decks, still didn't work. Also used a vpn, still didn't work. Not quite sure what to do

[2022-11-28 09:40] sviatoslav-lebediev commented on #47
Hi, could you provide a deck url ?

[2022-11-29 12:27] Songztu commented on #39
I've tried but failed. so sad.

anki report: 'NoneType' object has no attribute 'group'
![#39](https://user-images.githubusercontent.com/116066422/204528971-cbfd4d8f-5b81-4176-a076-8f6a58f5ac27.jpg)

[2022-11-29 17:17] sviatoslav-lebediev commented on #39
could u p